.vscode
.idea

venv
__pycache__

output/*
!output/.keep

assets/config.json

py310
python
git
wd14_tagger_model

train/*
logs/*
sd-models/*
toml/autosave/*
config/autosave/*
!sd-models/put stable diffusion model here.txt
!logs/.keep

tests/

huggingface/hub/models*
huggingface/hub/version_diffusers_cache.txt