.vscode
.idea

venv

output/*
!output/.keep

py310
git

train/*
logs/*
sd-models/*
!sd-models/put stable diffusion model here.txt
!logs/.keep

tests/

huggingface/hub/models--openai--clip-vit-large-patch14